.venv/
__pycache__/
*.pth
*.edf
*.gdf
*.mat
*.zip
*.tar.gz
*.csv
*.pt
physionet/
BCICIV_2a_gdf/
models/
eeg-mi-bci/models/
eeg-mi-bci/physionet/
eeg-mi-bci/data/
eeg-mi-bci/artifacts/
eeg-mi-bci/results/
results/
logs/
.DS_Store
